# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# MacOS
.DS_Store

# FastAPI outputs
downloads/
processed/
separated/
songs.db

# Pytest cache
.pytest_cache/

# VSCode settings (optional)
.vscode/